@import "jquery.tweet";
@import "supersized";
@import "sprites";
@import "grid";
@import "susy";
@import "zenburn";

::selection {
  background: #FFFF30;
  color: #000;
  }
::-moz-selection {
  background: #FFFF30;
  color: #000;
}

hr {
  border: none;
  border-top: 1px dashed white;
}

.row {
  overflow: hidden;
  margin-bottom: 1em;
  img {
    float: none;
    display: block;
    clear: both;
    margin: 0 0 1em 0;
    width: 100%;
  }
  @include at-breakpoint(30em) {
  img {
    float: left;
    margin-right: 10px;
    max-width: 30%;
  }
  }

  @include at-breakpoint(40em) {

  img {
    max-width: 40%;
  }
    
  }

  &:nth-child(odd) {
    img {
    float: right;
    margin-left: 10px;
    }
  }
}

body {
  background-color: #0F0F0F;
  color: #AAA;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  border-bottom: 1px solid #666;
  overflow: hidden;
  line-height: 70px;
  // height: 90px;
  letter-spacing: 0.1em;
  font-family: "proxima-nova-alt-condensed",sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;

  ul {
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
    list-style: none;
    float: right;
    li {
      float: left;
      a {
      display: block;
      margin-left: 20px;
      }
    }
  }

}

a {
  color: #FEFEFE;
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

ul {
  display: block;
  margin: 0 0 0 20px;
  padding: 0;
  li {
  margin: 0;
  padding: 0;
  }
}

// ul.links {
//   list-style: none;
//   li {
//     display: inline;
//   }
// }

// .container {
//   overflow: hidden;
// }

// ul.pacman {
// li {
//   list-style-image: image-url('bullet.png');
//   padding-left: 0px;
//   margin-left: 30px;
//   margin-bottom: 0.5em;
//   color: #FEFEFE;
// }
// }
// .page {
//   width: 882px;
//   margin: 0 auto;
//   overflow: hidden;
// }

.from {
  display: none;
  @include at-breakpoint(40em) {
    display: inline;
  }
}

.hero {
  // font-size: 2em;
  font-size: 1.5em;
  letter-spacing: -0.02em;
  border-bottom: 1px solid #666;
  padding: 10px 0 10px;
  margin-bottom: 20px;
  line-height: 0.9em;
  & > span {
    display: block;
  }
  @include at-breakpoint(40em) {
    font-size: 2.8em;
    letter-spacing: -3px;
    line-height: 0.8em;
  padding: 20px 0 20px;
  }
  @include at-breakpoint(60em) {
    font-size: 4.2em;
    letter-spacing: -3px;
    line-height: 0.8em;
  padding: 20px 0 20px;
  }
}

// #disqus_thread {
//     border-top: 1px solid #666;
//     padding-top: 20px;

// }

ul.social {
  list-style: none;
  overflow: hidden;
  &, li {
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 5px;
  }
}

ul.tweet_list {
  list-style: none;
  &, li {
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1em;
  }
}

.hero, h2, h3 {
  color: #FEFEFE;
  font-family: "proxima-nova-alt-condensed",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}


li h2 {
  border: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 25px;
  border-bottom: 1px solid #666;
  span {
    margin-bottom: -5px;
  }
}

.boxes {
  clear: both;
  overflow: hidden;
}

#bees {
  width: 100%;
  margin-bottom: 1em;
  @include at-breakpoint(30em) {
    @include span-columns(3);
  }
}
.about {
  @include at-breakpoint(30em) {
    @include span-columns(3);
  }
}

#johnrees {
  display: block;
  float: left;
  // background: url('/images/johnrees.png');
  margin: 10px 0 20px 0;
}

#main {
  overflow: hidden;
}

// .blurb {
//   padding-bottom: 20px;
//   line-height: 1.2em;
//   font-size: 1.2em;
// }

//   a {
//     color: #FFF;
//     text-decoration: none;
//   }

.box {
  margin: 2px;
  //text-indent: -3000px;
  overflow: hidden;

  &.over {
  a {
  line-height: 100%;
  }
    //text-indent: 0;
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0); -moz-filter: grayscale(0);
    -ms-filter: grayscale(0); -o-filter: grayscale(0);
    filter: none; filter: grayscale(0); 
    //-webkit-transition: .2s all ease-in; -o-transition: .2s all ease-in;
    //-moz-transition: .2s all ease-in; transition: .2s all ease-in;
  }

  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray; filter: grayscale(100%); 

  font-family: "proxima-nova-alt-condensed",sans-serif;
    // font-family: 'Gotham Black', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  background: #444 no-repeat center center;
  background-size: cover;
  // width: 290px;
  clear: both;
  @include span-columns(12);
  @include at-breakpoint(50em) {
    width: 210px;
    // @include span-columns(5);
    clear: none;
  }
  height: 200px;
  float: left;
  text-align: center;
  a {
    padding-top: 80px;
    line-height: 800px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

// img {
//   float: left;
// }
// .about {
//   float: left;
//   padding-left: 10px;
// }

// p {
//   margin-bottom: 1em;
// }