@import "jquery.tweet";
@import "supersized";
@import "sprites";
@import "grid";
@import "susy";

body {
  background-color: #0F0F0F;
  color: #AAA;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  border-bottom: 1px solid #666;
  overflow: hidden;
  line-height: 70px;
  // height: 90px;
  letter-spacing: 0.1em;
  font-family: "proxima-nova-alt-condensed",sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;

  ul {
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
    list-style: none;
    float: right;
    li {
      float: left;
      a {
      display: block;
      margin-left: 20px;
      }
    }
  }

}

a {
  color: #FEFEFE;
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

// ul.links {
//   list-style: none;
//   li {
//     display: inline;
//   }
// }

// .container {
//   overflow: hidden;
// }

// ul.pacman {
// li {
//   list-style-image: image-url('bullet.png');
//   padding-left: 0px;
//   margin-left: 30px;
//   margin-bottom: 0.5em;
//   color: #FEFEFE;
// }
// }
// .page {
//   width: 882px;
//   margin: 0 auto;
//   overflow: hidden;
// }

.from {
  display: none;
  @include at-breakpoint(40em) {
    display: inline;
  }
}

.hero {
  // font-size: 2em;
  font-size: 1.8em;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #666;
  padding: 20px 0 20px;
  margin-bottom: 20px;
  line-height: 0.8em;
  & > span {
    display: block;
  }
  @include at-breakpoint(40em) {
    font-size: 3.5em;
    letter-spacing: -3px;
  }
  @include at-breakpoint(60em) {
    font-size: 5em;
    letter-spacing: -3px;
  }
}

// #disqus_thread {
//     border-top: 1px solid #666;
//     padding-top: 20px;

// }

ul.social {
  list-style: none;
  overflow: hidden;
  &, li {
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 5px;
  }
}

ul.tweet_list {
  list-style: none;
  &, li {
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1em;
  }
}

.hero, h2 {
  color: #FEFEFE;
  font-family: "proxima-nova-alt-condensed",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  span {
    margin-bottom: -5px;
  }
}

.boxes {
  clear: both;
  overflow: hidden;
}

#bees {
  width: 100%;
  margin-bottom: 1em;
  @include at-breakpoint(30em) {
    @include span-columns(3);
  }
}
.about {
  @include at-breakpoint(30em) {
    @include span-columns(3);
  }
}

#johnrees {
  display: block;
  float: left;
  // background: url('/images/johnrees.png');
  margin: 10px 0 20px 0;
}

#main {
  overflow: hidden;
}

// .blurb {
//   padding-bottom: 20px;
//   line-height: 1.2em;
//   font-size: 1.2em;
// }

//   a {
//     color: #FFF;
//     text-decoration: none;
//   }

.box {
  margin: 2px;
  text-indent: -999px;

  font-family: "proxima-nova-alt-condensed",sans-serif;
    // font-family: 'Gotham Black', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  background: #444 no-repeat center center;
  background-size: cover;
  // width: 290px;
  clear: both;
  @include span-columns(12);
  @include at-breakpoint(50em) {
    @include span-columns(3);
    clear: none;
  }
  height: 200px;
  float: left;
  text-align: center;
  a {
    padding-top: 80px;
    line-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
  }
}

// img {
//   float: left;
// }
// .about {
//   float: left;
//   padding-left: 10px;
// }

// p {
//   margin-bottom: 1em;
// }